* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 18px;
}

.header {
	background-color: rgb(16, 126, 222);
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 1em;
	color: white;
}

.menu__burger {
	display: flex;
}

.menu__burger img {
	padding-right: 2em;
	width: 80px;
}

.logo__txt {
	width: 10%;
	font-weight: bold;
}

.logo img {
	width: 90px;
}

.phone {
	font-size: 1.2em;
	letter-spacing: 2px;
	font-weight: bold;
}

.btn__head {
	padding-top: 0.5em;
}

#btn__call {
	background-color: orange;
	color: white;
	padding: 0.6em;
	border-radius: 15px;
	border: none;
	width: 160px;
	margin-left: 5em;
	font-weight: bold;
}

.wrap {
	width: 100%;
}

.info {
	width: 50%;
	margin: 4vh 0 1vh 8vw;
	border-left: 4px solid rgb(16, 126, 222);
	padding-left: 1em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
	color: grey; 
	margin-bottom: 4vh;
}

.info__p {
	font-size: 1.2em;
	color: grey;
}
